.navbar {
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgba(255, 192, 203, 0.747) !important;
}

.navItem a {
    color: palevioletred !important;
}

.navbarToggler {
    color: palevioletred !important;
    border-color: palevioletred !important;
}

.navbarTogglerIcon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='palevioletred' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.i {
    color: pink !important;
}

.main {
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 97px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.borders {
    display: flex;
    justify-content: center;
}

.sec_headings_border {
    height: 3px;
    width: 4em;
    background-color: palevioletred;
    margin-bottom: 1.5em;
}

.btn {
    background-color: palevioletred;
    color: white;
    transition: .2s;
}

.btn:hover {
    transform: scale(1.1);
    color: white;
    background-color: palevioletred;
}

.back_link {
    text-decoration: none;
    color: palevioletred;
}

.back_link:hover {
    color: palevioletred;
}

.quantity {
    width: 25px;
    font-weight: 600;
}

.text_muted {
    display: flex;
    align-items: center;
}

.qMsg {
    font-size: 14px;
}

.deleteIcon {
    align-self: center;
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.596);
    transition: .25s;
}

.deleteIcon:hover {
    transform: scale(1.15);
}

@media (max-width:991px) {

    .container {
        padding: 0;
    }
}

@media (max-width:661px) {
    .container {
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }
}