@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#__next {
  height: 100%;
  position: relative;
}

:root {
  color-scheme: only light;
  --viewport-height: 100%;
}

main {

  background-image: url("/images/bg.png");
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif !important;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.spacing {
  padding: .15em 0;
}

.sec-headings-border {
  background-color: black;
  width: 40px;
  height: 4px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.438) !important;
  padding: 1em 5em;
  border: none !important;
}

#navbarNav {
  margin-left: 2em;
  justify-content: space-between;
}


.navbar-nav a {
  color: white !important;
  transition: .25s;
}

.navbar-nav a:hover {
  color: rgb(255, 191, 200) !important;
  transform: translateY(-5px);
}

.right-nav .navbar-nav {
  align-items: center;
}

.right-nav .navbar-nav #cart_icon {
  font-size: 26px;
  margin-right: 1em;
  color: white;
  transition: .2s;
  color: red;
  cursor: pointer;
}

.right-nav .navbar-nav #cart_icon:hover {
  transform: scale(1.2);
}

.right-nav button {
  background-color: rgb(216, 95, 135);
  border-radius: 50px;
  color: white;
  padding: .5em 1.1em !important;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.226);
  transition: .2s;
}

.right-nav button:hover {
  color: white;
  background-color: rgb(216, 95, 135);
  transform: scale(1.1);
}

#cart-li {
  display: none;
}

/*
#cart_icon {
  display: none;
} */

.section-about-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.section-about-heading h1 {
  margin-top: 1em;
}

.section-about-heading div {
  background-color: palevioletred;
}

.about {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  padding: 2em 1em;
}

.about-content {
  display: flex;
  align-items: center;
}

.left-side {
  flex-basis: 50%;
}

.right-side {
  flex-basis: 50%;
}

#about-left-side {
  padding: 0 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
}

#about-left-side h2 {
  color: rgb(216, 95, 135);
  /* font-size: 2.2vw; */
  font-weight: 600;
}

.content-heading-border {
  width: 20%;
  height: .25vw;
  background-color: rgb(216, 95, 135);
  margin-bottom: 2.5em;
}

/* //IMPORTANT */
#about-left-side p {
  font-size: calc((1.6vh + 1.8vw)/2);
  margin-bottom: 3em;
}

#about-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 2em;
}

#about-right-side img {
  width: 50%;
}

.about-splitter {
  height: 200px;
  width: 2px;
  background-color: black;
}

.about-content button {
  align-self: flex-start;
  padding: .5em 1em;
  border-radius: 200px;
  background-color: rgb(216, 95, 135);
  color: white;
  text-align: center;
  font-size: calc((1.3vh + 1.5vw)/2);
  transition: .2s;
}

.about-content button:hover {
  transform: rotate(15deg);
  background-color: #4267B2;
  color: white;
}

/* HairOil */

.section-hair-heading {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.section-hair-heading h1 {
  margin-top: 2em;
}

.section-hair-heading div {
  background-color: rgb(216, 95, 135);
}

.hairoil {
  background-color: #9b99ff;
  background-image:
    radial-gradient(at 98% 85%, hsla(35, 72%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 38%, hsla(305, 61%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 88%, hsla(219, 72%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 40%, hsla(181, 99%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 93%, hsla(35, 70%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 57%, hsla(157, 69%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 71%, hsla(84, 96%, 74%, 1) 0px, transparent 50%);
  /* background: url(/images/bg-2.jpg) no-repeat; */
  background-size: cover;

}

.hairoil-overlay {
  background-color: rgba(0, 0, 0, 0.452);
}

.hairoil-content {
  display: flex;
  padding-bottom: 3em;
}

#hairoil-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1.5em;
}

#hairoil-left-side img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  width: 52%;
}

#hairoil-right-side {
  padding-right: 5em;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hairoil-right-side h2 {
  font-weight: 600;
}

#hairoil-right-side p {
  font-size: calc((1.6vh + 1.8vw)/2);
  margin-bottom: 3em;
}

#hairoil-right-side button {
  border-radius: 200px;
  background-color: rgb(216, 95, 135);
  color: white;
  align-self: flex-start;
  text-align: center;
  padding: .5em 1.2em;
  font-size: calc((1.3vh + 1.5vw)/2);
  transition: .15s;
}

#hairoil-right-side button:hover {
  transform: scale(1.05);
}

#cart-hover {
  display: none;
}

#hairoil-right-side button:hover #cart-hover {
  display: inline;
}

/* Cream */

.section-cream-heading {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.section-cream-heading h1 {
  margin-top: 2em;
}

.section-cream-heading div {
  background-color: rgb(216, 95, 135);
}

.cream {
  background-color: #ffd599;
  background-image:
    radial-gradient(at 27% 83%, hsla(192, 79%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 76% 1%, hsla(237, 83%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 31%, hsla(283, 73%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 30%, hsla(29, 80%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 85%, hsla(223, 69%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 83%, hsla(338, 96%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 71%, hsla(314, 63%, 66%, 1) 0px, transparent 50%);
  /* background: url(/images/bg-3.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

.cream-overlay {
  background-color: rgba(0, 0, 0, 0.507);
}

.cream-content {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 3em;
}

#cream-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1.5em;
}

#cream-right-side img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  width: 52%;
}

#cream-left-side {
  padding-left: 5em;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#cream-left-side h2 {
  font-weight: 600;
}

#cream-left-side p {
  font-size: calc((1.6vh + 1.8vw)/2);
  margin-bottom: 3em;
}

#cream-left-side button {
  border-radius: 200px;
  background-color: rgb(216, 95, 135);
  color: white;
  align-self: flex-start;
  text-align: center;
  padding: .5em 1.2em;
  font-size: calc((1.3vh + 1.5vw)/2);
  transition: .15s;
}

#cream-left-side button:hover {
  transform: scale(1.05);
}

/* Contact */

.section-contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4vw;
}

.section-contact-heading h1 {
  text-align: center;
  margin-top: 2em;
}

.section-contact-heading div {
  background-color: rgb(216, 95, 135);
}

.contact-form-main {
  padding: 0em 5em 2em 5em;
}

.contact-form {
  padding: 2em 2em;
  display: flex;
}

.contact-form h2 {
  padding: 0.75em 0 0 1em;
  margin-bottom: 1.25em;
}

.contact-form .contact-left-side {
  background-color: pink;
  flex-basis: 60%;
}

.contact-form .contact-left-side input {
  padding: .5em .5em;
  border: none;
  border-radius: 3px;
  outline: none;
}

.contact-form .contact-left-side button {
  padding: .5em 1.2em;
  background-color: palevioletred;
  color: white;
  margin: .2em 0;
  border: none;
  border-radius: 3px;
  transition: .2s;
}

.contact-form .contact-left-side button:hover {
  transform: scale(1.1);
}

.contact-form form {
  padding: 0 0 1.2em 2em;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin: .5em 0 2em 0;
}

.input-box input {
  margin: 0 1.2em 0 0;
  width: calc(44%);
}

.input-box input::placeholder {
  color: #0000009c;
}

.text-box textarea {
  color: palevioletred;
  padding: .75em;
  width: 90%;
  border: none;
  border-radius: 3px;
}

.text-box textarea::placeholder {
  color: palevioletred;
  font-weight: 500;
}

.contact-form .contact-right-side {
  flex-basis: 40%;
}


footer {
  background-color: #2c2c2c;
}

@media (max-width: 1280px) {
  .contact-form-main {
    padding: 0 2em 2em 2em;
  }
}

@media (max-width:1024px) and (min-width:980px) {
  .bg_headings h1 {
    font-size: 42px !important;
  }

  .bg_headings h3 {
    font-size: 28px !important;
  }

  .bg_headings button {
    font-size: calc((1.6vh + 1.8vw)/2.3) !important;
  }
}

@media (max-width:1024px) {

  #hairoil-left-side img {
    width: 60%;
  }

  #cream-right-side img {
    width: 60%;
  }

  .contact-right-side iframe {
    min-height: 180px;
  }

  .about-content button,
  #cream-left-side button,
  #hairoil-right-side button,
  .contact-form .contact-left-side button {
    font-size: calc((1.6vh + 1.8vw)/2.65);
  }

  #about-left-side p,
  #cream-left-side p,
  #hairoil-right-side p {
    font-size: calc((1.6vh + 1.8vw)/2.5);
  }

  .contact-form-main {
    padding-bottom: 2em;
  }

}

@media (max-width:991px) {
  .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .bg_section {
    height: calc(var(--viewport-height) - 90px) !important;
  }

  .right-nav .navbar-nav {
    display: none;
  }

  #cart-li {
    display: block;
  }

  .contact-form {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1em 3em;
    font-size: calc((1.8vh + 1.6vw)/1.8);
  }

  #navbarNav {
    margin-left: 1em;
  }

  .about-content button,
  #cream-left-side button,
  #hairoil-right-side button,
  .contact-form .contact-left-side button,
  .bg_headings button {
    font-size: calc((1.6vh + 1.8vw)/2.2) !important;
  }

  /* about */

  #about-left-side {
    padding: 0 2.2em;
    flex-basis: 55%;
  }

  #about-left-side p {
    font-size: calc((1.6vh + 1.8vw)/2);
    margin-bottom: 2em;
  }

  #about-right-side {
    flex-basis: 45%;
  }

  #about-right-side img {
    width: 70%;
  }

  /* hairoil */

  #hairoil-right-side {
    padding: 0 2em;
    flex-basis: 55%;
  }

  #hairoil-right-side p {
    font-size: calc((1.6vh + 1.8vw)/2);
    margin-bottom: 2em;
  }

  #hairoil-left-side {
    flex-basis: 45%;
  }

  #hairoil-left-side img {
    width: 92%;
  }

  /* cream */

  #cream-left-side {
    padding: 0 2em;
    flex-basis: 45%;
  }

  #cream-left-side p {
    font-size: calc((1.6vh + 1.8vw)/2);
    margin-bottom: 2em;
  }

  #cream-left-side {
    flex-basis: 55%;
  }

  #cream-right-side img {
    width: 92%;
  }
}

@media (max-width: 720px) {

  .about-content button,
  #cream-left-side button,
  #hairoil-right-side button,
  .contact-form .contact-left-side button,
  .bg_headings button {
    font-size: calc((1.9vh + 1.6vw)/1.8) !important;
  }

  .bg_section {
    padding: 0 .25em 3.5em .25em;
  }

  .content-heading-border {
    margin-bottom: 2em;
  }

  /* about */

  #about-left-side {
    padding: 0 1em
  }

  #about-left-side p {
    font-size: calc((2vh + 1.6vw)/1.54);
  }

  #about-right-side {
    padding: 0 1em;
    margin-top: 2.5em;
  }

  #about-right-side img {
    width: 100%
  }

  .about-content {
    flex-direction: column;
  }

  .about-splitter {
    display: none;
  }

  /* hairoil */

  .hairoil-content {
    flex-direction: column-reverse;
  }

  #hairoil-left-side {
    padding: 0 1em;
    margin-top: 2.5em;
  }

  #hairoil-right-side p {
    font-size: calc((2vh + 1.6vw)/1.54);
  }

  /* cream */

  .cream-content {
    flex-direction: column-reverse;
  }

  #cream-right-side {
    padding: 0 1em;
    margin-top: 2.5em;
  }

  #cream-left-side p {
    font-size: calc((2vh + 1.6vw)/1.54);
  }

  /* Contact */

  .contact-form {
    padding: 0;
  }

  .contact-form form {
    padding: 0px 1em 1.2em 1em;
  }

  .input-box input {
    width: 44.2%;
  }

  .contact-form h2 {
    padding: 0.75em 0 0 0.5em;
  }

  .section-contact-heading {
    margin-bottom: 12vw;
  }


}

@media (max-width:478px) {

  .bg_section {
    height: calc(var(--viewport-height) - 85px) !important;
  }

  .bg_section {
    padding: 0 .5em 3em .5em;
  }

  .bg_headings {
    width: 100%;
  }

  .bg_headings h1 {
    font-size: calc(3vh + 1.6vw);
  }

  .bg_headings h3 {
    color: rgba(255, 255, 255, 0.6);
    font-size: calc((1.7vh + 1.3vw)/1)
  }

  .contact-form h2 {
    padding: 1em 0 0 0;
    text-align: center;
    margin: 0 0 .2em 0;
  }

  .contact-form-main {
    padding: 0 1.5em 2em;
  }

  .section-contact-heading {
    margin-bottom: 12vw;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .input-box input {
    width: calc(100%);
    margin: 1em 0;
  }

  .text-box textarea {
    width: 100%;
  }

  footer {
    font-size: 14px;
    flex-direction: column;
  }

  #copyright {
    margin-bottom: 1em;
  }
}

@media (max-width:400px) {
  .navbar {
    padding: 1em 1.5em;
  }

  .about {
    padding: 2em .5em;
  }

  #about-right-side {
    padding: 0 .75em;
  }

  #hairoil-right-side {
    padding: 0 1.25em;
  }

  #hairoil-left-side {
    padding: 0 0.5em;
  }

  #cream-left-side {
    padding: 1.25em;
  }

  #cream-right-side {
    padding: 0 0.5em;
  }
}

@media (max-width: 300px) {

  .about-content button,
  #cream-left-side button,
  #hairoil-right-side button,
  .contact-form .contact-left-side button,
  .bg_headings button {
    font-size: calc((1.9vh + 1.6vw)/1.35) !important;
  }

  .navbar {
    padding: 1em 1em;
    font-size: calc((1.8vh + 1.6vw)/1.5);
  }

  nav img {
    width: 71px !important;
    height: 51px !important;
  }

  .navbar-toggler {
    padding: 0.25em 0.55em;
    font-size: 1rem;
  }

  .bg_headings h1 {
    font-size: calc(3.5vh + 1.8vw);
  }

  .bg_headings h3 {
    font-size: calc(1.9vh + 1.3vw)
  }

  .about {
    padding: 2em 0;
  }

  #about-left-side h2 {
    font-size: calc(1.5rem + 1vw);
  }

  #about-left-side p {
    font-size: calc((2vh + 1.6vw)/1.3);
  }

  #hairoil-left-side {
    padding: 0 .4em;
  }

  #hairoil-right-side {
    padding: 0 1em;
  }

  #hairoil-right-side h2 {
    font-size: calc(1.5rem + 1vw);
  }

  #hairoil-right-side p {
    font-size: calc((2vh + 1.6vw)/1.3);
  }

  #cream-left-side {
    padding: 0 1em;
  }

  #cream-right-side {
    padding: 0 .4em;
  }

  #cream-left-side h2 {
    font-size: calc(1.5rem + 1vw);
  }

  #cream-left-side p {
    font-size: calc((2vh + 1.6vw)/1.3);
  }

  .contact-form-main {
    padding: 0px 1em 2em;
  }

}