.header {
  background-image: url(/images/main-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg_section {
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(var(--viewport-height) - 97px);
  overflow: hidden;
  padding-bottom: 1em;
}

.bg_headings {
  margin: 5.5vh 0;
  text-align: center;
}

.bg_headings h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.bg_headings h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.bg_headings button {
  font-size: calc((1.3vh + 1.5vw)/2);
  margin-top: 2em;
  background-color: rgb(216, 95, 135);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.226);
  transition: .2s;
}

.bg_headings button:hover {
  color: white;
  background-color: rgb(216, 95, 135);
  transform: scale(1.2);
}

.bg_border {
  width: 5vw;
  height: .25vw;
  background-color: rgb(216, 95, 135);
}