nav.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.header {
    background-image: url(/images/main-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 40vh;
}

.bg_section {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh !important;
    overflow: hidden;
}

.card {
    width: 19rem;
}


.btn_add {
    background-color: palevioletred;
    color: white;
    transition: .2s;
}

.btn_add:hover {
    background-color: palevioletred;
    color: white;
    transform: scale(1.1);
}

@media (max-width: 460px) {
    .header {
        background-position: bottom;
        background-image: url('/images/product-pics/togetherProduct.jpg') !important;
    }
}